:root {
    --colorWhite: #ffffff;
    --colorBlack: #212429;
    --colorGray: #6b7380;
    --font-family: 'Montserrat', sans-serif;
    --capitalLetters: uppercase;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--colorWhite);
    border-bottom: 1px solid var(--colorBlack);
    padding: 32px;
}

.nav-header {
    display: flex;
    gap: 36px;
    list-style: none;
    text-transform: var(--capitalLetters);
    font-size: 16px;
    color: var(--colorGray);
}

.icons-header {
    display: flex;
    gap: 36px;
}

.title-main {
    padding: 32px;
    margin-top: 120px;
    font-size: 32px;
    text-transform: var(--capitalLetters);
}

.section-main {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.card {
    height: 424px;
    width: 256px;
    border-radius: 8px;
}

.description-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.clothes {
    text-transform: capitalize;
    font-size: 14px;
}

.footer {
    margin-top: 36px;
    background-color: var(--colorBlack);
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.content-footer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.img-footer {
    background-color: var(--colorWhite);
    border-radius: 50%;
    padding: 8px;
}

.description-footer {
    text-transform: capitalize;
    color: var(--colorWhite);
    font-size: 16px;
}

.email-footer {
    color: var(--colorWhite);
    font-size: 16px;
}